/* Custom CSS for Site */

body{
    background-image: linear-gradient(#C97064, #F6D188) !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    height: 100%;
    background: #f5e1cf;
    color: #48362f;
    font-size: 18px;
    line-height: 30px;
}
nav {
    background: #ECBD93 !important;
    margin:0px auto;
    width:50%;
    min-width: 500px;
    padding-bottom: 20px;
    border-radius: 0px 0px 5px 5px;
}
footer{
    color: #512020;
    width: 50%;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 75px;
    margin-left: 25%;
    margin-right: 17%;
    padding-right: 25px;
}
.top-bar{
    font-size: 20px;
    background: #A8A37A !important;
    margin:0px auto;
    width:50%;
    min-width: 500px;
    padding-bottom: 20px;
    margin-top: 60px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    border-radius: 10px 10px 0px 0px;
}
.float-container {
    margin:0px auto;
    width:50%;
    min-width: 500px;
    padding-bottom: 20px;
}
.main{
    background: #EED1B5;
    height: 70%;
    width: 100%;
    min-width: 500px;
    float: left;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: auto;
}
#random-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
